python-dotenv
flask[async]
flask-sqlalchemy
flask-bcrypt
flask-cors
flask-session
redis
PyJWT
pandas
langchain_huggingface
langchain_core
langchain_weaviate
langchain_openai
langchain
flashrank
weaviate-client
pymongo
selenium
pandas